<!DOCTYPE html>
<html lang="en" data-theme="luxury">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet">
    <title>eCommerce</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
   
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <div class="  ">
      <div class=" flex px-2 justify-between">
        <a class="text-lg font-bold">Auto Parts</a>
      


      


      <div class="flex justify-end flex-1 px-2">
        <div class="flex items-stretch">
          
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost rounded-btn">Sign In</label>
            <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box w-52 mt-4">
              <li><a>Sign In</a></li> 
              <li><a>Creat Account</a></li>
            </ul>
          </div>
          <a class="btn btn-ghost rounded-btn">Button</a>
        </div>
      </div>

      
      
    </div>

    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <label class="btn btn-circle swap swap-rotate" for="my-drawer">
  
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" />
          
          <!-- hamburger icon -->
          <svg class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
          
          <!-- close icon -->
          <svg class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
          
        </label>
        <!-- <label for="my-drawer" class="btn btn-primary drawer-button">Menu</label> -->
      </div> 
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          <li><a>Sidebar Item 1</a></li>
          <li><a>Sidebar Item 2</a></li>
          
        </ul>
      </div>
      
    </div>

    <!-- <header class=" bg-slate-400 h-24">
      <div class="max-w-5xl mx-auto items-center">
        <div class="flex flex-row justify-between  text-2xl h-24 items-center">
          <h1 class=""><a href="/profile">Auto Parts</a></h1>
          <h3 class= "mb-0 "><a href="/login">LogIn</a></h3>
        </div>
      </div>
       -->
     
    </header>
  </body>
</html>
